:root {
  --background-color: #0a0a0a;
  --primary-color: #202020;
  --secondary-color: #2a2a2a;
  --text-color: white;
  --lighten-color1: rgba(255, 255, 255, .05);
  --lighten-color2: rgba(255, 255, 255, .10);
  --alert-color: red;
}

* {
  font-family: 'Nunito', sans-serif;
}

body {
  z-index: 0;
  margin: 0;
  padding: 0;
  background-image: url(images/abstract_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  display: grid;
  grid-template-rows: auto auto auto;
}

ul {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: var(--primary-color);
}

li{
  z-index: 1;
  padding: 1em 0;
  font-size: 1.2em;
  margin: 0;
}

.menu a {
  z-index: 1;
  color: var(--text-color);
  text-decoration: none;
  padding: 1em 40px;
  user-select: none;
}

.links {
  background-color: var(--primary-color);
  transition: 0.3s;
}

.links:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.log-out {
  z-index: 1;
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.log-out:hover {
  background-color: var(--lighten-color2);
}

.search-box {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(30vh - 3rem);
}

.search-input {
  z-index: 1;
  width: calc(70vw - 30px);
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 2em;
}

.container {
  width: 100vw;
  height: 200px;
  margin-top: 100px;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 70vw;
  height: 200px;
  color: var(--text-color);
  text-align: center;
  user-select: none;
}

.categories > * {
  font-size: 1.5em;
  width: 200px;
  height: 125px;
  background-color: var(--lighten-color1);
  border-radius: 7px;
  transform: scale(1.0);
  transition: 0.3s;
}

.categories a {
  display: block;
  text-decoration: none;
  padding-top: 45px;
  color: var(--text-color);
  width: 100%;
  height: calc(100% - 45px);
  border-radius: 7px;
}

.categories > *:hover{
  cursor: pointer;
  transform: scale(1.05);
}

/* ----- hover -----*/
.log-out:hover {
  cursor: pointer;
  animation-name: log_out_hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
/* ----- hover -----*/

/* ----- active -----*/

.menu a:active {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .3);
}


.categories a:active {
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, .3);
}