:root {
  --background-color: #0a0a0a;
  --primary-color: #202020;
  --secondary-color: #2a2a2a;
  --text-color: white;
  --lighten-color1: rgba(255, 255, 255, .05);
  --lighten-color2: rgba(255, 255, 255, .10);
  --alert-color: red;
  --correct-color: #61b076;
}

* {
  font-family: 'Nunito', sans-serif;
}

body {
  z-index: 0;
  margin: 0;
  padding: 0;
  background-image: url(images/abstract_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  display: grid;
  grid-template-rows: auto auto auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  color: var(--text-color);
}

.login-form {
  width: 350px;
  height: min-content;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px var(--primary-color);
  font-family: sans-serif;
  border-radius: 5px;
}

.login-form * {
  box-sizing: border-box;
}

.login-form p{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.login-form input {
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.login-form input[type=text] {
  display: block;
  height: 3em;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

.login-form input[type=password] {
  display: block;
  height: 3em;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}


.login-form label {
  color: var(--text-color);
  font-size: 0.8em;
}

.login-form input[type=checkbox] {
  float: left;
}

.login-form input:not(:checked) + #login-phone {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.login-form #login-phone {
  transition: .3s;
}

.register {
  color: var(--text-color);
}

.register > a {
  text-decoration: underline;
  color: var(--text-color);
  font-style: italic;
}

.login-form button[type=submit] {
  display: block;
  font-size: 1.1em;
  margin: 40px auto 0;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  box-shadow: 1px 4px 10px 1px var(--primary-color);
  background: var(--lighten-color1);
}

.login-form button[type=submit]:hover {
  cursor: pointer;
  animation-name: lighten_background_grow;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.wrong {
  color: var(--alert-color);
  transform: translateY(50px);
  font-weight: 300;
}

.correct {
  color: var(--correct-color);
  transform: translateY(50px);
  font-weight: 300;
}

@keyframes lighten_background_grow {
  from {background-color: var(--lighten-color1); transform: scale(1);}
  to {background-color: var(--lighten-color2); transform: scale(1.05);}
}
